<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was creater by Petteri Davidsson. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="random" src="/img/random.png">
    </div>
    
    {{>footer}}
</body>


</html>